{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati neque nesciunt laboriosam odio repudiandae ea soluta mollitia expedita eius, voluptas sapiente, distinctio nihil exercitationem necessitatibus accusantium sit! Nobis autem laborum inventore itaque, veniam perferendis dolorum ea ullam fugiat veritatis alias ducimus repellendus tempora dolorem, delectus dicta illum minus nihil esse neque consectetur corrupti sapiente. Dolore velit eveniet pariatur temporibus, sapiente ad quam assumenda voluptas sit laboriosam aut id ullam alias dolores, voluptatum facere expedita vel. Blanditiis magni totam omnis eaque facere consectetur quibusdam repellendus officiis sequi distinctio perspiciatis placeat vel, dolorum cupiditate nam pariatur laudantium numquam eveniet eligendi libero quasi.</p>
        <div class="container text-center">
            <a class="btn btn-primary" href="/sigin/">
                Sigin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}